.all{
    border:1px solid black;
}

.align-ex{
    height:200px;
    border: 1px solid gray;
}
.item1 {
   background-color: yellow;
   width:100px;
}

 .first{
     background-color: teal;
 }
 .second{
     background-color: tomato;
 }

 .third{
     background-color: turquoise;
 }



//new
.container{
    height:100vh;
    //background-color: blanchedalmond;
}

.header{
    background-color: cornsilk;;
}
.logo{
    background-color:  rgb(238, 113, 138);
}
.title{
    background-color: rgb(131, 179, 179);
}
.logo1{
    background-color:  rgb(238, 113, 138);
}
mat-list-item{
    border: 1px solid tan;
    color:black !important;
}
.sidenav{
    background-color: skyblue;
}
.main-content{
    background-color: slategray;
}
mat-card{
    margin:5px;
    background-color: aliceblue;
}
.footer{
    background-color:  rgb(235, 207, 97);
}
 